<body>

    <!-- Navigation -->
  
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">Jimmygrant Tax Prep</h1>
          <h2 class="masthead-subheading mb-0">Everything you need to complete your U.S. federal income tax return</h2>
          <a [routerLink]="['/login']"  class="btn btn-primary btn-xl rounded-pill mt-5">Lets get Started</a>
        </div>
      </div>
      
    </header>
  
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid" src="../assets/campus.png" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">For those who work on campus</h2>
              <p>Just pull out your W2 which you got from the University, boom you're Ready to go!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid" src="../assets/opt.png" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">For those who work on OPT</h2>
              <p>File returns in less than 5 minutes!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">&copy; Yashesh Bharti 2021</p>
      </div>
      <!-- /.container -->
    </footer>
  </body>
